html
{
    font-size: 0.625vw;
    scroll-behavior: smooth;
}

*
{
    padding: 0;
    margin: 0;
    font-family: Poppins, sans-serif;
    font-weight: 500;
}

h1
{
    font-family: Raleway-Black;
}

h2
{
    font-family: Poppins-Bold;
}

h3
{
    font-family: Raleway-Black;
    color: black;
    font-size: 6em;
}

h4
{
    font-family: Raleway-Black;
    color: black;
    font-size: 3.5em;
    margin-bottom: 0.5em;
}

h5
{
    font-family: Raleway-Black;
    color: black;
    font-size: 2.5em;
}

p
{
    font-size: 1.5em;
}

a
{
    text-decoration: none;
}

header
{
    z-index: 1000;
    position: fixed;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    background-color: white;
    padding: 3em 0em 3em 0em;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 18em;
    
}

header .logo img
{
    width: 7em;
}

header .logo
{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1em;
}

header .logo p
{
    font-size: 2em;
    font-family: Raleway-Black;
    color: #66952E;
}

header nav ul
{
    display: flex;
    align-items: center;
    gap: 5em;
}

header nav ul li
{
    list-style: none;
}

header nav ul li a
{
    font-size: 1.7em;
    font-family: Raleway-Black;
    color: black;
    position: relative;
    transition: all 0.5s;
}

header nav ul li a:hover
{
    color: #66952E;
}

header nav ul li a.active
{
    border-bottom: 0.1em solid #66952E;
}

header nav ul li a i
{
    color: #66952E;
}

header .rezervacija
{
    background-color: #66952E;
    padding: 1em 1.5em;
    border-radius: 2em;
    display: flex;
    align-items: center;
    gap: 1em;
    transition: all 0.5s;
}

header .rezervacija:hover
{
    background-color: black;
}

header .rezervacija i
{
    color: white;
    font-size: 1.7em;
}

header .rezervacija p
{
    color: white;
    font-size: 1.5em;
    font-family: Poppins-Bold;
}

/*Prva stran index*/

.prvastranindex
{
    height: 100vh;
    background-image: linear-gradient(rgba(0,0,0,0.7), rgba(0,0,0,0.7)), url(../images/glavnoozadje.jpg);
    background-color: black;
    background-size: cover;
    background-position: 0% 70%;
    overflow: hidden;
}

.prvastranindex .textprvastranindex
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}

.prvastranindex h1
{
    font-size: 7em;
    color: white;
}

.prvastranindex h2
{
    margin-top: 5em;
    font-size: 3em;
    color: #66952E;
}

.prvastranindex .textprvastranindex .ocena
{
    margin-top: 7em;
}

.prvastranindex .textprvastranindex .ocena div
{
    margin-left: 0;
}

.prvastranindex .textprvastranindex div a
{
    min-width: unset;
}

.prvastranindex .textprvastranindex .ocena div a div
{
    padding-right: 0.2em;
}

.prvastranindex .textprvastranindex .branding
{
    opacity: 0;
}

.prvastranindex .textprvastranindex .krogi
{
    display: flex;
}

.prvastranindex .textprvastranindex .krogi .krog
{
    width: 3em;
    height: 3em;
    border-radius: 100%;
    overflow: hidden;
}

.prvastranindex .textprvastranindex .krogi .krog:nth-child(1)
{
    background-image: url(../images/slikatestrating1.jpg);
    background-size: cover;
}

.prvastranindex .textprvastranindex .krogi .krog:nth-child(2)
{
    background-image: url(../images/slikatestrating2.webp);
    background-size: cover;
    margin-left: -1em;
}

.prvastranindex .textprvastranindex .krogi .krog:nth-child(3)
{
    background-image: url(../images/slikatestrating3.jpeg);
    background-size: cover;
    margin-left: -1em;
}

.prvastranindex .textprvastranindex .kontaktirajte
{
    background-color: #66952E;
    padding: 1em 1.5em;
    margin-top: 2em;
    border-radius: 2em;
    display: flex;
    align-items: center;
    gap: 1em;
    width: fit-content;
    transition: 0.5s;
}

.prvastranindex .textprvastranindex .kontaktirajte:hover
{
    background-color: black;
}

.prvastranindex .textprvastranindex .kontaktirajte i
{
    color: white;
    font-size: 1.7em;
}

.prvastranindex .textprvastranindex .kontaktirajte p
{
    color: white;
    font-size: 1.5em;
    font-family: Poppins-Bold;
}

/*Druga stran index*/
.drugastranindex
{
    position: relative;
}

.drugastranindexnotri
{
    margin-top: 10em;
    padding-bottom: 5em;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}

.drugastranindex .skatlje
{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5em;
}

.drugastranindex .skatlje .skatlja
{
    top: 0;
    height: 40em;
    width: 30em;
    background-color: white;
    overflow: hidden;
}

.drugastranindex .skatlje .skatlja:nth-child(1)
{
    margin-top: 10em;
    transition: all 0.5s;
}

.drugastranindex .skatlje .skatlja:nth-child(1):hover
{
    scale: 1.1;
}

.drugastranindex .skatlje .skatlja:nth-child(2)
{
    transition: all 0.5s;
}

.drugastranindex .skatlje .skatlja:nth-child(2):hover
{
    scale: 1.1;
}

.drugastranindex .skatlje .skatlja:nth-child(3)
{
    margin-top: 15em;
    transition: all 0.5s;
}

.drugastranindex .skatlje .skatlja:nth-child(3):hover
{
    scale: 1.1;
}

.drugastranindex .skatlje .skatlja:nth-child(4)
{
    margin-top: 5em;
    transition: all 0.5s;
}

.drugastranindex .skatlje .skatlja:nth-child(4):hover
{
    scale: 1.1;
}

.drugastranindex .skatlje .skatlja .zgorajskatlja
{
    height: 45%;
    overflow: hidden;
}

.drugastranindex .skatlje .skatlja .zgorajskatlja img
{
    width: 100%;
    height: 100%;
}

.drugastranindex .skatlje .skatlja .spodajskatlja
{
    height: 55%;
    padding: 2em;
}

.drugastranindex .skatlje .skatlja .spodajskatlja p
{
    font-size: 1.3em;
}

.drugastranindex .ozadjeskatlje
{
    bottom: 0;
    position: absolute;
    background-color: #F1F1F1;
    z-index: -1;
    height: 55%;
    width: 100%;
}

/*Tretja stran index*/
.tretjastranindex
{
    margin-top: 15em;
    margin-bottom: 10em;
}

.trakkontejner
{
  overflow: hidden;
  background-color: #F1F1F1;
  position: relative;
  padding: 5em 0;
}

.trak
{
  display: flex;
  gap: 10em;
  font-size: 2em;
  color: black;
  white-space: nowrap;
}

.trak span
{
  display: flex;
  flex-direction: column;
  gap: 1em;
  align-items: center;
  font-family: Raleway-Black;
}

.trak i
{
  font-size: 2em;
  color: #66952E;
}

/*Četrta stran index*/
.cetrtastranindexnotri
{
    margin-top: 10em;
    margin-bottom: 10em;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}

.cetrtastranindexnotri .opisindex
{
    display: flex;
    justify-content: center;
    gap: 40em;
    margin-top: 10em;
}

.cetrtastranindexnotri h3
{
    text-align: right;
}

.cetrtastranindexnotri .opisindex .punudbegumb
{
    margin-top: 2em;
    background-color: #66952E;
    padding: 1em 1.5em;
    border-radius: 2em;
    display: flex;
    align-items: center;
    gap: 1em;
    width: fit-content;
    transition: all 0.5s;
}

.cetrtastranindexnotri .opisindex .punudbegumb:hover
{
    background-color: black;
}

.cetrtastranindexnotri .opisindex .punudbegumb i
{
    color: white;
    font-size: 1.7em;
}

.cetrtastranindexnotri .opisindex .punudbegumb p
{
    color: white;
    font-size: 1.5em;
    font-family: Poppins-Bold;
}

.cetrtastranindexnotri .opisindex .slikeopisi
{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5em;
}

.cetrtastranindexnotri .opisindex .slikeopisi .opisislika
{
    height: 40em;
    width: 30em;
    overflow: hidden;
}

.cetrtastranindexnotri .opisindex .slikeopisi .opisislika:nth-child(1)
{
    z-index: 1;
    position: absolute;
    margin-top: 10em;
    margin-right: 50em;
    animation: premikajena 15s ease-in-out infinite;
}

.cetrtastranindexnotri .opisindex .slikeopisi .opisislika:nth-child(2)
{
    animation: premikajdva 15s ease-in-out infinite;
}

@keyframes premikajena
{
    0%   { transform: translate(0, 0); }
    50%  { transform: translate(-1em, -1em); }
    100% { transform: translate(0, 0); }
}

@keyframes premikajdva
{
    0%   { transform: translate(0, 0); }
    50%  { transform: translate(-2em, 0.5em); }
    100% { transform: translate(0, 0); }
}

.cetrtastranindexnotri .opisindex .slikeopisi .opisislika img
{
    width: 100%;
    height: 100%;
}

/*Prva stran ostalo*/
.prvastranostalo
{
    height: 60vh;
    background-image: linear-gradient(rgba(0,0,0,0.7), rgba(0,0,0,0.7)), url(../images/glavnoozadje.jpg);
    background-color: black;
    background-size: cover;
    background-position: 0% 70%;
    overflow: hidden;
}

.prvastranostalo .textprvastranostalo
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}

.prvastranostalo h1
{
    margin-top: 1.5em;
    font-size: 7em;
    color: white;
}

.prvastranostalo p
{
    font-size: 2em;
    color: #F1F1F1;
}


