html
{
    font-size: 0.625vw;
    scroll-behavior: smooth;
}

*
{
    padding: 0;
    margin: 0;
    font-family: Poppins, sans-serif;
    font-weight: 500;
}

h1
{
    font-family: Raleway-Black;
}

h2
{
    font-family: Poppins-Bold;
}

h3
{
    font-family: Raleway-Black;
    color: black;
    font-size: 6em;
}

h4
{
    font-family: Raleway-Black;
    color: black;
    font-size: 3.5em;
    margin-bottom: 0.5em;
}

h5
{
    font-family: Raleway-Black;
    color: black;
    font-size: 2.5em;
}

p
{
    font-size: 1.5em;
}

a
{
    text-decoration: none;
}

header
{
    z-index: 1000;
    position: fixed;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    background-color: white;
    padding: 3em 0em 3em 0em;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 18em;
    
}

header .logo img
{
    width: 7em;
}

header .logo
{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1em;
}

header .logo p
{
    font-size: 2em;
    font-family: Raleway-Black;
    color: #66952E;
}

header nav ul
{
    display: flex;
    align-items: center;
    gap: 5em;
}

header nav ul li
{
    list-style: none;
}

header nav ul li a
{
    font-size: 2em;
    font-family: Raleway-Black;
    color: black;
    position: relative;
    transition: all 0.5s;
}

header nav ul li a:hover
{
    color: #66952E;
}

header nav ul li a.active
{
    border-bottom: 0.1em solid #66952E;
}

header nav ul li a i
{
    color: #66952E;
}

header .rezervacija
{
    background-color: #66952E;
    padding: 1em 1.5em;
    border-radius: 2em;
    display: flex;
    align-items: center;
    gap: 1em;
    transition: all 0.5s;
}

header .rezervacija:hover
{
    background-color: black;
}

header .rezervacija i
{
    color: white;
    font-size: 1.7em;
}

header .rezervacija p
{
    color: white;
    font-size: 1.5em;
    font-family: Poppins-Bold;
}

.footer
{
    background-color: #F1F1F1;
}

.footernotri
{
    margin-top: 10em;
    display: flex;
    flex-direction: column;
    margin-left: auto;
    margin-right: auto;
    width: 80%;
    
}

footer
{
    padding: 5em 8em;
    display: flex;
    justify-content: space-between;
}

footer .footerskatlje
{
    display: flex;
    flex-direction: column;
    gap: 2em;
}

footer .footerskatlje:nth-child(1) .footertext p:nth-child(4), footer .footerskatlje:nth-child(1) .footertext p:nth-child(5)
{
    display: flex;
    align-items: center;
    gap: 0.5em;
}

footer .footerskatlje .footertext p i
{
    color: #66952E;
}

footer .footerskatlje:nth-child(2) .footertext
{
    display: flex;
    gap: 2em;
}

footer .footerskatlje .footertext a i
{
    font-size: 2.5em;
    color: #66952E;
}

footer .footerskatlje .footertext a:nth-child(2) i
{
    font-size: 2.8em;
}

footer .footerskatlje .footertext a i:hover
{
    color: black;
}

footer .footerskatlje:nth-child(3) .footertext
{
    display: flex;
    flex-direction: column;
}

footer .footerskatlje:nth-child(3) .footertext a
{
    font-size: 1.5em;
    color: black;
}

footer .footerskatlje:nth-child(3) .footertext a:hover
{
    color: #66952E;
}

.footernotri .noga
{
    position: relative;
    padding: 2em 8em;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.footernotri .noga::before
{
    content: "";
    position: absolute;
    top: 0;
    left: 8em;
    right: 8em;
    border-top: 0.1em solid black;
}

.footernotri .noga .desno
{
    display: flex;
    gap: 5em;
}

.footernotri .noga a
{
    font-size: 1.5em;
    color: black;
}



/*Prva stran index*/

.prvastranindex
{
    height: 100vh;
    background-image: linear-gradient(rgba(0,0,0,0.7), rgba(0,0,0,0.7)), url(../images/glavnoozadje.jpg);
    background-color: black;
    background-size: cover;
    background-position: 0% 70%;
    overflow: hidden;
}

.prvastranindex .textprvastranindex
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}

.prvastranindex h1
{
    font-size: 7em;
    color: white;
}

.prvastranindex h2
{
    margin-top: 5em;
    font-size: 3em;
    color: #66952E;
}

.prvastranindex .textprvastranindex .ocena
{
    margin-top: 7em;
}

.prvastranindex .textprvastranindex .ocena div
{
    margin-left: 0;
}

.prvastranindex .textprvastranindex div a
{
    min-width: unset;
}

.prvastranindex .textprvastranindex .ocena div a div
{
    padding-right: 0.2em;
}

.prvastranindex .textprvastranindex .branding
{
    opacity: 0;
}

.prvastranindex .textprvastranindex .krogi
{
    display: flex;
}

.prvastranindex .textprvastranindex .krogi .krog
{
    width: 3em;
    height: 3em;
    border-radius: 100%;
    overflow: hidden;
}

.prvastranindex .textprvastranindex .krogi .krog:nth-child(1)
{
    background-image: url(../images/slikatestrating1.jpg);
    background-size: cover;
}

.prvastranindex .textprvastranindex .krogi .krog:nth-child(2)
{
    background-image: url(../images/slikatestrating2.webp);
    background-size: cover;
    margin-left: -1em;
}

.prvastranindex .textprvastranindex .krogi .krog:nth-child(3)
{
    background-image: url(../images/slikatestrating3.jpeg);
    background-size: cover;
    margin-left: -1em;
}

.prvastranindex .textprvastranindex .kontaktirajte
{
    background-color: #66952E;
    padding: 1em 1.5em;
    margin-top: 2em;
    border-radius: 2em;
    display: flex;
    align-items: center;
    gap: 1em;
    width: fit-content;
    transition: 0.5s;
}

.prvastranindex .textprvastranindex .kontaktirajte:hover
{
    background-color: black;
}

.prvastranindex .textprvastranindex .kontaktirajte i
{
    color: white;
    font-size: 1.7em;
}

.prvastranindex .textprvastranindex .kontaktirajte p
{
    color: white;
    font-size: 1.5em;
    font-family: Poppins-Bold;
}

/*Druga stran index*/
.drugastranindex
{
    position: relative;
}

.drugastranindexnotri
{
    margin-top: 10em;
    padding-bottom: 5em;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}

.drugastranindex .skatlje
{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5em;
}

.drugastranindex .skatlje .skatlja
{
    top: 0;
    height: 40em;
    width: 30em;
    background-color: white;
    overflow: hidden;
}

.drugastranindex .skatlje .skatlja:nth-child(1)
{
    margin-top: 10em;
    transition: all 0.5s;
}

.drugastranindex .skatlje .skatlja:nth-child(1):hover
{
    scale: 1.1;
}

.drugastranindex .skatlje .skatlja:nth-child(2)
{
    transition: all 0.5s;
}

.drugastranindex .skatlje .skatlja:nth-child(2):hover
{
    scale: 1.1;
}

.drugastranindex .skatlje .skatlja:nth-child(3)
{
    margin-top: 15em;
    transition: all 0.5s;
}

.drugastranindex .skatlje .skatlja:nth-child(3):hover
{
    scale: 1.1;
}

.drugastranindex .skatlje .skatlja:nth-child(4)
{
    margin-top: 5em;
    transition: all 0.5s;
}

.drugastranindex .skatlje .skatlja:nth-child(4):hover
{
    scale: 1.1;
}

.drugastranindex .skatlje .skatlja .zgorajskatlja
{
    height: 45%;
    overflow: hidden;
}

.drugastranindex .skatlje .skatlja .zgorajskatlja img
{
    width: 100%;
    height: 100%;
}

.drugastranindex .skatlje .skatlja .spodajskatlja
{
    height: 55%;
    padding: 2em;
}

.drugastranindex .skatlje .skatlja .spodajskatlja p
{
    font-size: 1.3em;
}

.drugastranindex .ozadjeskatlje
{
    bottom: 0;
    position: absolute;
    background-color: #F1F1F1;
    z-index: -1;
    height: 55%;
    width: 100%;
}

/*Tretja stran index*/
.tretjastranindex
{
    margin-top: 15em;
    margin-bottom: 10em;
}

.trakkontejner
{
  overflow: hidden;
  background-color: #F1F1F1;
  position: relative;
  padding: 5em 0;
}

.trak
{
  display: flex;
  gap: 10em;
  font-size: 2em;
  color: black;
  white-space: nowrap;
}

.trak span
{
  display: flex;
  flex-direction: column;
  gap: 1em;
  align-items: center;
  font-family: Raleway-Black;
}

.trak i
{
  font-size: 2em;
  color: #66952E;
}

/*Četrta stran index*/
.cetrtastranindexnotri
{
    margin-top: 10em;
    margin-bottom: 25em;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}

.cetrtastranindexnotri .opisindex
{
    display: flex;
    justify-content: center;
    gap: 40em;
    margin-top: 10em;
}

.cetrtastranindexnotri .opisindex .textopisi
{
    margin-top: 5em;
}

.cetrtastranindexnotri .opisindex .punudbegumb
{
    margin-top: 2em;
    background-color: #66952E;
    padding: 1em 1.5em;
    border-radius: 2em;
    display: flex;
    align-items: center;
    gap: 1em;
    width: fit-content;
    transition: all 0.5s;
}

.cetrtastranindexnotri .opisindex .punudbegumb:hover
{
    background-color: black;
}

.cetrtastranindexnotri .opisindex .punudbegumb i
{
    color: white;
    font-size: 1.7em;
}

.cetrtastranindexnotri .opisindex .punudbegumb p
{
    color: white;
    font-size: 1.5em;
    font-family: Poppins-Bold;
}

.cetrtastranindexnotri .opisindex .slikeopisi
{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5em;
}

.cetrtastranindexnotri .opisindex .slikeopisi .opisislika
{
    height: 40em;
    width: 30em;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    transition: all 0.5s;
    overflow: hidden;
}

.cetrtastranindexnotri .opisindex .slikeopisi .opisislika .opisislikaslika
{
    width: 100%;
    height: 70%;
}

.cetrtastranindexnotri .opisindex .slikeopisi .opisislika .opisislikatext
{
    padding: 2em;
    z-index: 2;
    background-color: #F1F1F1;
    height: 30%;
}

.cetrtastranindexnotri .opisindex .slikeopisi .opisislika .opisislikaslika img
{
    position: absolute;
    width: 100%;
    height: 100%;
    top: -5em;
}

.cetrtastranindexnotri .opisindex .slikeopisi .opisislika:nth-child(1)
{
    position: absolute;
    margin-top: 25em;
    margin-right: 50em;
    border-right: 0.5em solid white;
    border-top: 0.5em solid white;
    animation: premikajena 15s ease-in-out infinite;
}

.cetrtastranindexnotri .opisindex .slikeopisi .opisislika:hover:nth-child(1)
{
    z-index: 2;
}

.cetrtastranindexnotri .opisindex .slikeopisi .opisislika:nth-child(2)
{
    border-left: 0.5em solid white;
    border-bottom: 0.5em solid white;
    animation: premikajdva 15s ease-in-out infinite;
}

@keyframes premikajena
{
    0%   { transform: translate(0, 0); }
    50%  { transform: translate(-1em, -1em); }
    100% { transform: translate(0, 0); }
}

@keyframes premikajdva
{
    0%   { transform: translate(0, 0); }
    50%  { transform: translate(-2em, 0.5em); }
    100% { transform: translate(0, 0); }
}

/*Prva stran ostalo*/
.prvastranostalo
{
    height: 60vh;
    background-image: linear-gradient(rgba(0,0,0,0.7), rgba(0,0,0,0.7)), url(../images/glavnoozadje.jpg);
    background-color: black;
    background-size: cover;
    background-position: 0% 70%;
    overflow: hidden;
}

.prvastranostalo .textprvastranostalo
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}

.prvastranostalo h1
{
    margin-top: 1.5em;
    font-size: 7em;
    color: white;
}

.prvastranostalo h2
{
    font-size: 2em;
    color: white;
}

/*Druga stran onas*/
.drugastranonas
{
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10em;
}

.drugastranonas .drugastranonasnotri
{
    display: flex;
    justify-content: center;
    gap: 20em;
}

.drugastranonas .drugastranonasnotri .textdrugastraonas h5
{
    margin-top: 1em;
}

.drugastranonas .drugastranonasnotri .textdrugastraonas .socialnaomrezjaonas
{
    margin-top: 0.2em;
    display: flex;
    gap: 1.5em;
}

.drugastranonas .drugastranonasnotri .textdrugastraonas .socialnaomrezjaonas a i:hover
{
    color: #000;
}

.drugastranonas .drugastranonasnotri .textdrugastraonas .socialnaomrezjaonas a:nth-child(1)
{
    font-size: 2.5em;
    color: #66952E;
}

.drugastranonas .drugastranonasnotri .textdrugastraonas .socialnaomrezjaonas a:nth-child(2)
{
    font-size: 2.8em;
    color: #66952E;
}

.drugastranonas .drugastranonasnotri img
{
    width: 60em;
    height: 30em;
}

/*Tretja stran onas*/
.tretjastranonas
{
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10em;
}

.ozadjeekipa
{
    background-color: #F1F1F1;
    position: absolute;
    width: 100%;
    height: 35em;
    top: 122em;
    z-index: -1;
}

.tretjastranonasnotri h4
{
    text-align: center;
}

.tretjastranonasnotri .skatlaslik
{
    margin-top: 5em;
    display: flex;
    justify-content: center;
    gap: 10em;
}

.tretjastranonasnotri .skatlaslik .slikeopisi
{
  width: 25em;
  height: 35em;
  position: relative;
  overflow: hidden;
  transition: all 0.5s;
}

.tretjastranonasnotri .skatlaslik .slikeopisi:hover
{
    scale: 1.1;
}

.tretjastranonasnotri .skatlaslik .slikeopisi:nth-child(1)
{
    margin-top: 7.5em;
}

.tretjastranonasnotri .skatlaslik .slikeopisi:nth-child(3)
{
    margin-top: 12.5em;
}

.tretjastranonasnotri .skatlaslik .slikeopisi img
{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: 0;
}

.tretjastranonasnotri .skatlaslik .slikeopisi .opis
{
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  background: white;
  z-index: 1;
  padding: 0.5em 1em;
}

.tretjastranonasnotri .skatlaslik .slikeopisi .opis p
{
    color: #66952E;
    font-weight: bold;
}


/*Četrta stran onas*/
.cetrtastranonas
{
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 15em;
}

.cetrtastranonas .cetrtastranonasnotri
{
    display: flex;
    justify-content: center;
    gap: 20em;
}

.cetrtastranonas .cetrtastranonasnotri img
{
    width: 60em;
    height: 30em;
}

.cetrtastranonas .cetrtastranonasnotri .textcetrtastranonas .mustrovagumb
{
    margin-top: 2em;
    background-color: #66952E;
    padding: 1em 1.5em;
    border-radius: 2em;
    display: flex;
    align-items: center;
    gap: 1em;
    width: fit-content;
    transition: all 0.5s;
}

.cetrtastranonas .cetrtastranonasnotri .textcetrtastranonas .mustrovagumb:hover
{
    background-color: black;
}

.cetrtastranonas .cetrtastranonasnotri .textcetrtastranonas .mustrovagumb i
{
    color: white;
    font-size: 1.7em;
}

.cetrtastranonas .cetrtastranonasnotri .textcetrtastranonas .mustrovagumb p
{
    color: white;
    font-size: 1.5em;
    font-family: Poppins-Bold;
}

/*Prijava*/
.prijava
{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.prijavanotri
{
    width: 28em;
    background-color: white;
    border-radius: 1.2em;
    box-shadow: 0 0.625em 1.875em rgba(0, 0, 0, 0.3);
    padding: 3em;
}

.prijavanotri h4
{
    color: #66952E;
    font-size: 3em;
    margin-bottom: 1em;
    text-align: left;
}

.prijava .prijavanotri form
{
    display: flex;
    flex-direction: column;
    gap: 0.5em;
}

.prijava .prijavanotri p
{
    text-align: left;
    color: black;
}

.prijava .prijavanotri input
{
    padding: 0.8em;
    border: 0.2em solid #ccc;
    border-radius: 0.6em;
    transition: all 0.5s ease;
    font-size: 1em;
}

.prijava .prijavanotri input:nth-child(2)
{
    margin-bottom: -2em;
}

.prijava .prijavanotri input:focus
{
    border-color: #66952E;
    box-shadow: 0 0 8px #66952E;
    outline: none;
}

.prijava .prijavanotri button
{
    all: unset;
    background-color: #66952E;
    padding: 1em 1.5em;
    border-radius: 2em;
    display: flex;
    align-items: center;
    gap: 1em;
    transition: all 0.5s;
    max-width: fit-content;
    cursor: pointer;
}

.prijava .prijavanotri button span
{
    color: white;
    font-size: 1.5em;
    font-family: Poppins-Bold;
}


.prijava .prijavanotri button:hover
{
    background-color: black;
}

.napacnogeslo
{
    color: red !important;
    margin-bottom: 1em;
}

/*Admin*/
.admin
{
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.admin h4
{
    margin-bottom: 1em;
    color: #66952E;
    text-align: center;
}

.admin .tabelaskrol
{
    max-height: 48.5em;
    overflow-y: auto;
    width: 95%;
    border-radius: 1em;
    box-shadow: 0 0.625em 1.875em rgba(0, 0, 0, 0.2);
}

.admin .tabelaskrol table
{
    border: none;
    border-collapse: collapse;
    width: 100%;
}

.admin .tabelaskrol th
{
    position: sticky;
    top: 0;
    background-color: #66952E;
    color: white;
    font-size: 1.5em;
    font-family: Poppins-Bold;
    z-index: 2;
}

.admin th,
.admin td
{
    padding: 1em;
    text-align: left;
    font-size: 1em;
    border: solid 0.1em #ccc;
}

.admin tr:nth-child(even)
{
    background-color: #F1F1F1;
}

.admin tr:hover
{
    background-color: #eef6e6;
}

.admin button
{
    all: unset;
    background-color: #66952E;
    color: white;
    font-family: Poppins-Bold;
    padding: 0.6em 1.2em;
    border-radius: 1.5em;
    cursor: pointer;
    font-size: 1em;
    transition: all 0.4s ease;
}

.admin button:hover
{
    background-color: black;
}

.admin .odjavagumb
{
    color: white;
    margin-top: 5em;
    background-color: #66952E;
    padding: 1em 1.5em;
    border-radius: 2em;
    display: flex;
    align-items: center;
    gap: 1em;
    width: fit-content;
    transition: all 0.5s;
}

.admin .odjavagumb p
{
    color: white;
    font-size: 1.5em;
    font-family: Poppins-Bold;
}

.admin .odjavagumb:hover
{
    background-color: black;
}

/* Rezervacija */
.step
{
    display: none;
}
.step.active
{
    display: block;
}

.flatpickr-day:not(.flatpickr-disabled) {
    color: #000 !important;
}