<!DOCTYPE html>
<html lang="sl">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <meta name="keywords" content="ŠRC Šumica, Cirkulane, Poroka, Krst, Piknik, Rojstnodnevna zabava, Catering">
    <meta name="description" content="Najboljša ponudba oddaje prostora za vse vrste dogodkov.">
    <meta name="author" content="Jure Pintar">

    <link rel="stylesheet" href="../static/css/slog.css">
    <script src="https://kit.fontawesome.com/f93be84bbb.js" crossorigin="anonymous"></script>
    
    <link rel="icon" href="../static/images/ikona/favicon.ico" type="image/x-icon">
    <title>ŠRC Šumica</title>
</head>

<style>
    @font-face
    {
        font-family: Poppins;
        src: url("{{ url_for('static', filename='fonts/Poppins-Regular.ttf') }}");
    }

    @font-face
    {
        font-family: Poppins-Bold;
        src: url("{{ url_for('static', filename='fonts/Poppins-Bold.ttf') }}");
    }

    @font-face
    {
        font-family: Raleway-Black;
        src: url("{{ url_for('static', filename='fonts/Raleway-Black.ttf') }}");
    }
</style>
<body>
    <div class="admin">

        <h4>Seznam rezervacij</h4>
        
        <div class="tabelaskrol">
            <table border="1" cellpadding="5">
                <tr>
                    <th>Št. rezervacije</th>
                    <th>Dogodek</th>
                    <th>Datum</th>
                    <th>Ura</th>
                    <th>Ime</th>
                    <th>Telefon</th>
                    <th>Email</th>
                    <th>Osebe</th>
                    <th>Podrobnosti</th>
                    <th>Akcija</th>
                </tr>
                {% for r in rezervacije %}
                <tr>
                    <td>{{ r[0] }}</td>
                    <td>{{ r[1] }}</td>
                    <td>{{ r[2] }}</td>
                    <td>{{ r[3] }}</td>
                    <td>{{ r[4] }}</td>
                    <td>{{ r[5] }}</td>
                    <td>{{ r[6] }}</td>
                    <td>{{ r[7] }}</td>
                    <td>{{ r[8] }}</td>
                    <td>
                        <form method="POST" action="{{ url_for('izbrisi_rezervacijo', id=r[0]) }}" onsubmit="return confirm('Ali ste prepričani, da želite izbrisati rezervacijo?');">
                            <button type="submit">Izbriši</button>
                        </form>
                    </td>
                </tr>
                {% endfor %}
            </table>
        </div>

        <a class="odjavagumb" href="{{ url_for('odjava') }}">
            <p>Admin odjava</p>
        </a>
    </div>
</body>
</html>

</body>
</html>