<!DOCTYPE html>
<html lang="sl">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <meta name="keywords" content="ŠRC Šumica, Cirkulane, Poroka, Krst, Piknik, Rojstnodnevna zabava, Catering">
    <meta name="description" content="Najboljša ponudba oddaje prostora za vse vrste dogodkov.">
    <meta name="author" content="Jure Pintar">

    <link rel="stylesheet" href="../static/css/slog.css">
    <script src="https://kit.fontawesome.com/f93be84bbb.js" crossorigin="anonymous"></script>
    
    <link rel="icon" href="" type="">
    <title>ŠRC Šumica</title>
</head>

<style>
    @font-face
    {
        font-family: Poppins;
        src: url("{{ url_for('static', filename='fonts/Poppins-Regular.ttf') }}");
    }

    @font-face
    {
        font-family: Poppins-Bold;
        src: url("{{ url_for('static', filename='fonts/Poppins-Bold.ttf') }}");
    }
</style>
<body>
    <div class="prvastranindex">
        <header>
            <div class="logo">
                <a href=""><img src="../static/images/logozacasni.png" alt=""></a>
                <p>ŠRC Šumica</p>
            </div>
            <nav>
                <ul>
                    <li><a href="/" class="active">Domov</a></li>
                    <li><a href="onas.html">O nas</a></li>
                    <li><a href="ponudbe.html">Ponudbe</a></li>
                    <li><a href="galerija.html">Galerija</a></li>
                    <li><a href="kontakt.html">Kontakt</a></li>
                    <li><a href="lokacija.html"><i class="fa-solid fa-location-dot"></i></a></li>
                </ul>
            </nav>
            <a href="" class="rezervacija">
                <i class="fa-solid fa-calendar"></i>
                <p>Rezervirajte</p>
            </a>
        </header>
        <div class="textprvastranindex">
            <h2>Prostori za najlepša praznovanja</h2>
            <h1>ŠRC ŠUMICA</h1>
            <div class="ocena">
                <div class="review-widget_net" data-uuid="9fd251f4-75d1-4da8-a056-7f1f93db8873" data-template="2" data-lang="en" data-theme="dark"></div><script src="https://grwapi.net/widget.min.js"></script>
                <div class="krogi">
                    <div class="krog"><img src="" alt=""></div>
                    <div class="krog"><img src="" alt=""></div>
                    <div class="krog"><img src="" alt=""></div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>