<!DOCTYPE html>
<html lang="sl">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <meta name="keywords" content="ŠRC Šumica, Cirkulane, Poroka, Krst, Piknik, Rojstnodnevna zabava, Catering">
    <meta name="description" content="Najboljša ponudba oddaje prostora za vse vrste dogodkov.">
    <meta name="author" content="Jure Pintar">

    <link rel="stylesheet" href="../static/css/slog.css">
    <script src="https://kit.fontawesome.com/f93be84bbb.js" crossorigin="anonymous"></script>
    
    <link rel="icon" href="../static/images/ikona/favicon.ico" type="image/x-icon">
    <title>ŠRC Šumica</title>
</head>

<style>
    @font-face
    {
        font-family: Poppins;
        src: url("{{ url_for('static', filename='fonts/Poppins-Regular.ttf') }}");
    }

    @font-face
    {
        font-family: Poppins-Bold;
        src: url("{{ url_for('static', filename='fonts/Poppins-Bold.ttf') }}");
    }

    @font-face
    {
        font-family: Raleway-Black;
        src: url("{{ url_for('static', filename='fonts/Raleway-Black.ttf') }}");
    }
</style>
<body>
    <div class="prvastranostalo">
        <header>
            <a href="" class="logo">
                <img src="../static/images/logosumica.png" alt="">
                <p>ŠRC Šumica</p>
            </a>
            <nav>
                <ul>
                    <li><a href="/">Domov</a></li>
                    <li><a href="/onas">O nas</a></li>
                    <li><a href="/ponudbe" class="active">Ponudbe</a></li>
                    <li><a href="/galerija">Galerija</a></li>
                    <li><a href="/kontakt">Kontakt</a></li>
                    <li><a href="/lokacija"><i class="fa-solid fa-location-dot"></i></a></li>
                </ul>
            </nav>
            <a href="/rezervacija" class="rezervacija">
                <i class="fa-solid fa-calendar"></i>
                <p>Rezervirajte</p>
            </a>
        </header>
        <div class="textprvastranostalo">
            <h1>NAŠE STORITVE</h1>
            <h2>Vse od velikih praznovanj, porok, ceteringa in še mnogo drugega</h2>
        </div>
    </div>

    <div class="footer">
        <div class="footernotri">
            <footer>
                <div class="footerskatlje">
                    <h5>KONTAKTNI PODATKI</h5>
                    <div class="footertext">
                        <p>Tadej Murko | Dopolnilna dejavnost</p>
                        <p>Pristava 40a</p>
                        <p>2282 Cirkulane</p>
                        <p><i class="fa-solid fa-phone"></i><span>+386 70 170 562</span></p>
                        <p><i class="fa-solid fa-envelope"></i>tadej.murko1@gmail.com</p>
                    </div>
                </div>
                <div class="footerskatlje">
                    <h5>SLEDITE NAM</h5>
                    <div class="footertext">
                        <a href=""><i class="fa-brands fa-facebook-f"></i></a>
                        <a href=""><i class="fa-brands fa-instagram"></i></a>
                    </div>
                </div>
                <div class="footerskatlje">
                    <h5>PRAVNE INFORMACIJE</h5>
                    <div class="footertext">
                        <a href="">Pogoji poslovanja</a>
                        <a href="">Piškotki</a>
                        <a href="">Varnost in zasebnost</a>
                    </div>
                </div>
            </footer>
            <div class="noga">
                <p>© 2025 ŠRC Šumica | Vse pravice pridržane</p>
                <div class="desno">
                    <a href="mailto:jure.pintar9@gmail.com">Izdelava spletne strani</a>
                    <a href="/admin">Admin</a>
                </div>
            </div>
        </div>
    
</body>
</html>