<!DOCTYPE html>
<html lang="sl">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <meta name="keywords" content="ŠRC Šumica, Cirkulane, Poroka, Krst, Piknik, Rojstnodnevna zabava, Catering">
    <meta name="description" content="Najboljša ponudba oddaje prostora za vse vrste dogodkov.">
    <meta name="author" content="Jure Pintar">

    <link rel="stylesheet" href="../static/css/slog.css">
    <script src="https://kit.fontawesome.com/f93be84bbb.js" crossorigin="anonymous"></script>
    
    <link rel="icon" href="../static/images/ikona/favicon.ico" type="image/x-icon">
    <title>ŠRC Šumica</title>
</head>

<style>
    @font-face
    {
        font-family: Poppins;
        src: url("{{ url_for('static', filename='fonts/Poppins-Regular.ttf') }}");
    }

    @font-face
    {
        font-family: Poppins-Bold;
        src: url("{{ url_for('static', filename='fonts/Poppins-Bold.ttf') }}");
    }

    @font-face
    {
        font-family: Raleway-Black;
        src: url("{{ url_for('static', filename='fonts/Raleway-Black.ttf') }}");
    }
</style>
<body>
    <div class="prijava">
        <div class="prijavanotri">
            <h4>Prijavni obrazec</h4>
            <form method="POST">
                <p>Uporabniško ime:</p>
                <input type="text" id="username" name="username" required><br><br>

                <p>Geslo:</p>
                <input type="password" id="password" name="password" required><br><br>

                {% if napaka %}
                    <p class="napacnogeslo">{{ napaka }}</p>
                {% endif %}

                <button type="submit"><span>Prijava</span></button>
            </form>
        </div>
    </div>
</body>
</html>

</body>
</html>